.content {
  min-height: 28rem;

  h1 {
    letter-spacing: 1px;
    margin: 0;
    padding-block: 1rem;
  }

  h3 {
    letter-spacing: 1px;
  }

  p {
    letter-spacing: 0.5px;
    margin-block: 1rem;
  }

  .content-section {
    margin-block: 2.5rem;
  }

  @media only screen and (min-width: 900px) {
    padding: 2.5rem;

    .content-section {
      margin-inline: 1rem;
    }
  }
  @media only screen and (max-width: 900px) {
    padding: 2.3rem;

    h1 {
      font-size: 28px;
    }

    .content-section {
      margin-inline: 1rem;

      h3 {
        font-size: 17px;
      }

      p {
        font-size: 15px;
      }
    }
  }
  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 26px;
    }
  }
  @media only screen and (max-width: 700px) {
    padding: 1rem;

    h1 {
      font-size: 24px;
    }

    .content-section {
      h3 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
