footer {
  text-align: center;
  padding: 10px;
  letter-spacing: -0.5px;

  h5 {
    margin: 5px;
    opacity: 85%;
  }

  p {
    margin: 0;
    opacity: 75%;
  }

  @media only screen and (min-width: 600px) {
    p {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 600px) {
    p {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 500px) {
    h5 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 11px;
    }
    p {
      font-size: 9px;
    }
  }
  @media only screen and (max-width: 300px) {
    h5 {
      font-size: 10px;
    }
    p {
      font-size: 8px;
    }
  }
}
