@import "./header.css";
@import "./hero.css";
@import "./footer.css";
@import "./contents.css";

@font-face {
  font-family: "Fira Code";
  src: url(../fonts/fira_code.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dad7cd;

  ::selection {
    background-color: #25242238;
  }
}

a {
  text-decoration: none;
  padding-inline: 5px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #252422;
  text-decoration-style: wavy;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  font-family: "Fira Code", Helvetica, Arial, sans-serif;
  color: #252422;
}

/* Links */
@media only screen and (min-width: 900px) {
  .links {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .links {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .links {
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) {
  .links {
    font-size: 14px;
  }
}
.links {
  text-align: center;
  padding: 20px;
  a {
    color: #252422c4;
    text-decoration-color: #252422c4;
    padding-inline: 0.5rem;
  }
}
