@import "./navbar.css";
@import "./hero.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dad7cd;

  ::selection {
    background-color: #25242238;
  }
}

a {
  text-decoration: none;
  padding-inline: 5px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #252422;
  text-decoration-style: wavy;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  font-family: Helvetica, Arial, sans-serif;
  color: #252422;
}
