@import "./navbar.css";
@import "./hero.css";

body {
  background-color: #dad7cd;

  ::selection {
    background-color: #25242238;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  font-family: Helvetica, Arial, sans-serif;
  color: #252422;
}
