body {
  font-family: 'Source Sans Pro', sans-serif;
}
  
.header-section {
  background-color: #121212;
  color: #fff;
  padding: 150px 0;
}
  
.section-title {
  color: #fff;
}
  
.portfolio-section {
  background-color: #1a1a1a;
  color: #fff;
  padding: 100px 0;
}
  
.footer-section {
  background-color: #121212;
  color: #fff;
  padding: 50px 0;
}
.profile-image {
  width: 200px;
  height: 200px; 
  border-radius: 50%; 
  object-fit: cover;
  margin: 20px auto; 
}
.about-section {
  background-color: #121212;
  color: #fff;
  padding: 100px 0;
}
  
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
}
  
.social-icons {
  margin-top: 20px;
}
  
.social-icon {
  font-size: 24px;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
          
/* Add a style for the Instagram icon */
.social-icon i.fab.fa-instagram {
  font-size: 26px;
}
.social-icon:hover i.fab.fa-instagram {
  color: #E1306C;
}

.social-icon:hover {
  color: #17a2b8;
}
