.HeroTailSec {
  font-family: "Black Han Sans", sans-serif;

  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }


  h1{
    margin-inline: 20px;
    font-size: 80px;
    color: #252422;
    // text-align: center;

    @media only screen and (max-width: 600px) {
      font-size: 40px;
      margin-bottom: 5rem;
    }

    @media only screen and (max-width: 850px) and (min-width: 600px) {
      font-size: 50px;
    }
  }
}
