.HeroTailSec {
  padding: 6rem 0;
  font-family: "Black Han Sans", sans-serif;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #252422;
    opacity: 0.1;
  }

  h1 {
    margin-inline: 20px;
    font-size: 80px;
    color: #252422;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    transition: all 0.3s ease;

    &.text-hover {
      z-index: 1001;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 4rem 0;

    h1 {
      font-size: 40px;
      padding: 0 1rem;

      &::before,
      &::after {
        width: 120px;
      }
    }
  }

  @media only screen and (max-width: 850px) and (min-width: 601px) {
    h1 {
      font-size: 50px;
    }
  }
}
