$fontClr: #1b1b1b;

html {
  scroll-behavior: smooth;
}

p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  &::selection {
    background-color: #25242238;
  }
}

body {
  margin: 0;
}

.NavBar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding-right: 10px;
  z-index: 1;

  .dropbtn {
    display: none;
  }

  a {
    margin: 10px;
    text-decoration: none;
    color: $fontClr;
  }

  .menu {
    margin-block: auto;
    display: flex;
    position: relative;

    a:hover {
      color: grey;
    }

    .menu-items {
      display: flex;
    }

    .letsTalk {
      background-color: $fontClr;
      color: white;
      padding: 10px;
      border-radius: 25px;
    }

    .mobile-menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .NavBar {
    padding-right: 0;

    .menu {
      .menu-items {
        display: none;
      }

      .dropbtn {
        display: block;
        font-size: 16px;
        background: none;
        padding: 10px;
      }

      .mobile-menu {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #dad7cd;
        width: 100vw;

        a {
          display: block;
          padding: 12px 16px;
          text-decoration: none;
          color: #333;
          font-size: 20px;
          text-align: center;
          margin: 0;

          &:hover {
            color: #555;
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}
