@font-face {
  font-family: "Atomic Marker";
  src: url("/fonts/Atomic Marker.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atomic Marker Extra";
  src: url("/fonts/Atomic Marker Extras.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #dad7cd;
  max-width: 100%;
  cursor: none;

  a {
    cursor: none;
  }

  .cursor {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: #78786d;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: fill 0.2s ease;
    z-index: 1000;
  }
}
