@font-face {
  font-family: "Atomic Marker";
  src: url("/fonts/Atomic Marker.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atomic Marker Extra";
  src: url("/fonts/Atomic Marker Extras.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
