$fontClr: #1b1b1b;

body {
  margin: 0;

  @media only screen and (max-width: 600px) {
    .NavBar {
      .menu {
        a {
          display: block;
          padding: 12px 16px;
          text-decoration: none;
          color: black;
        }

        .dropbtn {
          display: block;
          font-size: 16px;
          border: none;
          background: none;
          padding: 10px;

          &:hover {
            cursor: pointer;
          }
        }

        .letsTalk {
          order: -1;
        }

        .menu-items {
          display: none;
        }
      }
    }
  }
}

.NavBar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding-right: 10px;

  .dropbtn {
    display: none;
  }

  a {
    margin: 10px;
    text-decoration: none;
    color: $fontClr;
  }

  .menu {
    margin-block: auto;
    display: flex;
    margin-block: auto;

    a:hover {
      color: grey;
    }

    .menu-items {
      display: flex;
    }

    .letsTalk {
      background-color: $fontClr;
      color: white;
      padding: 10px;
      border-radius: 25px;
      &:hover {
        cursor: pointer;
      }
      &::selection {
        color: white;
      }
    }
  }
}

.rc-dropdown {
  width: 100%;
  padding: 0;
  margin: 0;

  .drop-menu-items {
    background-color: #dad7cd;
    list-style: none;

    li {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: #333;
      font-size: 20px;
      padding: 15px;
    }

    a:hover {
      color: #555;
    }
  }
}
