body {
  margin: 0;
}

.NavBar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding-right: 10px;
  a {
    margin: 10px;
    text-decoration: none;
    color: black;
  }

  .menu {
    margin-block: auto;
    display: flex;
    margin-block: auto;

    a:hover {
      color: grey;
    }

    .letsTalk {
      background-color: #1b1b1b;
      color: white;
      padding: 10px;
      border-radius: 25px;
      &:hover {
        cursor: pointer;
      }
      &::selection {
        color: white;
      }
    }
  }
}
