$text-color: #1a1a1a;

.blog-item {
  display: flex;
  margin-bottom: 20px;
  padding-top: 10px;
  .date {
    display: block;
    font-size: 0.9rem;
    color: lighten($text-color, 20%);
  }
  .title {
    font-size: 1.01rem;
    font-weight: bold;
    color: $text-color;
    padding-left: 20px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
