@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

$fontcolor: #1b1b1a;

body {
  background-color: #dad7cd;
}

.hero-sec {
  font-family: "Black Han Sans", sans-serif;
  padding-top: 30px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  .bg {
    background-image: url("src/assets/bg.svg");
    background-size: cover;
    height: 450px;
    border-radius: 10px;
    width: 700px;
    display: flex;

    p {
      color: $fontcolor;
      font-size: 100px;
      font-weight: bolder;
      margin: 0;
      width: 120%;
      margin-left: -70px;
      text-align: center;
      margin-top: 28px;

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1.5px;
        // color: $fontcolor;
      }
    }
  }
}
