@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

$fontcolor: #1b1b1a;

body {
  background-color: #dad7cd;
  max-width: 100%;
}

.hero-sec {
  font-family: "Black Han Sans", sans-serif;
  padding-top: 30px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  @media only screen and (max-width: 600px) {
    height: 21rem;
  }
  @media only screen and (max-width: 850px) and (min-width: 600px) {
    height: 23rem;
  }

  .bg {
    background-image: url("/assets/bg.svg");
    background-size: cover;
    height: 450px;
    border-radius: 10px;
    width: 700px;
    display: flex;

    @media only screen and (max-width: 600px) {
      width: 17rem;
      height: 247px;
      position: absolute;
      top: 120px;
    }

    @media only screen and (max-width: 850px) and (min-width: 600px) {
      width: 30rem;
      height: 18rem;
      position: absolute;
      top: 8rem;
    }

    p {
      color: $fontcolor;
      font-size: 100px;
      font-weight: bolder;
      margin: 0;
      width: 120%;
      margin-left: -70px;
      text-align: center;
      margin-top: 28px;

      @media only screen and (max-width: 600px) {
        font-size: 40px;
        margin-left: -1.5rem;
      }

      @media only screen and (max-width: 850px) and (min-width: 600px) {
        font-size: 50px;
        margin-left: 0rem;
      }

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1.5px;
        // color: $fontcolor;
      }
    }
  }
}
