.hero-sec {
  padding-top: 30px;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    background-color: tomato;
    p {
      padding-inline: 50px;
      font-size: 65px;
      font-weight: bolder;
      
      span {
        color: white;
      }
    }
  }
}
