@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.footer {
  font-family: "Fira Code", monospace;
//   bottom: 0;
  width: 100%;
  color: #1b1b1a;
  padding: 10px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content .copyright-icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.footer-content .year {
  margin-right: 5px;
}

.footer-content .name {
  font-weight: bold;
}
