/* global */
@font-face {
  font-family: "Fira Code";
  src: url(/fira_code.woff2) format("woff2");
}
@font-face {
  font-family: "Atomic Marker";
  src: url(/atomic_marker.woff2) format("woff2");
  font-display: block;
}
@font-face {
  font-family: "Atomic Marker Extra";
  src: url(/atomic_marker_extras.woff2) format("woff2");
  font-display: block;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #dad7cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body ::selection {
  background-color: #25242238;
}
body p {
  line-height: 1.8rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding-inline: 5px;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #252422;
  text-decoration-style: wavy;
}

h1,h2,h3,h4,h5,h6,p,div,a {
  font-family: "Fira Code", monospace;
  color: #252422;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}
header .logo {
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1.5px;
}
header .menu-btn {
  display: none;
}

@media screen and (max-width: 850px) {
  header {
    padding-inline: 1.5rem;
  }
  header .logo {
    font-size: 18px;
  }
  header a {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  header .logo {
    font-size: 16px;
  }
  header .nav-links {
    display: none;
  }
  header .menu-btn {
    display: block;
    cursor: pointer;
  }
  header .nav-links.active {
    display: flex;
  }
}

/* Links */
.links {
  text-align: center;
  padding: 20px;
}
.content .content-section .links a {
  color: #252422c4;
  text-decoration-color: #252422c4;
  padding-inline: 0.5rem;
}
@media (min-width: 900px) {
  .links { font-size: 20px; }
}
@media (max-width: 900px) {
  .links { font-size: 18px; }
}
@media (max-width: 800px) {
  .links { font-size: 16px; }
}
@media (max-width: 700px) {
  .links { font-size: 14px; }
}

/* hero */
.hero {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.hero h1 {
  font-family: "Atomic Marker" !important;
  font-size: 200px;
  transform: rotate(-10deg);
  text-shadow: 10px 10px 0.5px #25242247;
  z-index: 1;
}
@media (max-width: 1000px) {
  .hero h1 { font-size: 180px; }
}
@media (max-width: 900px) {
  .hero h1 { font-size: 160px; }
}
@media (max-width: 800px) {
  .hero h1 { font-size: 140px; }
}
@media (max-width: 700px) {
  .hero h1 { font-size: 125px; }
}
@media (max-width: 600px) {
  .hero h1 { font-size: 115px; }
}
@media (max-width: 500px) {
  .hero h1 { font-size: 90px; }
}
@media (max-width: 400px) {
  .hero h1 { font-size: 80px; }
}
@media (max-width: 350px) {
  .hero h1 { font-size: 70px; }
}
@media (max-width: 300px) {
  .hero h1 { font-size: 60px; }
}
.hero .letter {
  position: absolute;
  color: #252422c4;
  font-family: "Atomic Marker Extra", cursive !important;
}

.hero-about {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.hero-about h2 {
  margin: 0;
  text-align: center;
}
.hero-about h3 {
  padding-inline: 15px;
  font-weight: normal;
  margin: 10px;
}
@media (min-width: 900px) {
  .hero-about h2 { font-size: 34px; }
  .hero-about h3 { font-size: 22px; }
}
@media (max-width: 900px) {
  .hero-about h2 { font-size: 32px; }
  .hero-about h3 { font-size: 20px; }
}
@media (max-width: 800px) {
  .hero-about h2 { font-size: 30px; }
  .hero-about h3 { font-size: 18px; }
}
@media (max-width: 700px) {
  .hero-about h2 { font-size: 28px; }
  .hero-about h3 { font-size: 16px; }
}

/* contents */
.content h1 {
  letter-spacing: 1px;
  margin-block: 1rem;
}
.content h3 {
  letter-spacing: 1px;
}
.content p {
  letter-spacing: 0.5px;
  margin-block: 1rem;
}
.content li {
  line-height: 2rem;
}
.content .content-section {
  margin-block: 2.5rem;
}
.content .content-section a {
  color: #252422c4;
  padding: 0;
}
@media (min-width: 900px) {
  .content {
    padding: 2.5rem;
  }
  .content .content-section {
    margin-inline: 1rem;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 2.3rem;
  }
  .content h1 {
    font-size: 28px;
  }
  .content .content-section {
    margin-inline: 0.8rem;
  }
  .content .content-section h3 {
    font-size: 17px;
  }
  .content .content-section p {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .content h1 { font-size: 26px; }
  .content .content-section {
    margin-inline: 0.5rem;
  }
}
@media (max-width: 700px) {
  .content {
    padding: 1rem;
  }
  .content h1 {
    font-size: 24px;
  }
  .content .content-section h3 {
    font-size: 16px;
  }
  .content .content-section p {
    font-size: 14px;
  }
}

/* footer */
footer {
  text-align: center;
  padding: 10px;
  letter-spacing: -0.5px;
}
footer .footer-name {
  font-weight: bold;
  opacity: 85%;
}
footer p {
  margin: 0;
  opacity: 75%;
}
@media (min-width: 600px) {
  footer p { font-size: 14px; }
}
@media (max-width: 600px) {
  footer p { font-size: 12px; }
}
@media (max-width: 500px) {
  footer .footer-name { font-size: 12px; }
  footer p { font-size: 10px; }
}
@media (max-width: 400px) {
  footer .footer-name { font-size: 11px; }
  footer p { font-size: 9px; }
}
@media (max-width: 300px) {
  footer .footer-name { font-size: 10px; }
  footer p { font-size: 8px; }
}

/* Blog */
blockquote {
  background-color: #25242238;
  padding-block: 2px;
  border-left: 2px solid #666;
  padding-inline: 1.6rem;
  font-style: italic;
  border-radius: 2px;
}
.blog a {
  padding: 0;
  text-decoration: underline #252422c4;
  color: #252422c4;
}

/* 404 */
.error404 {
  margin: auto;
  text-align: center;
}
.error404 a {
  color: #252422c4;
  text-decoration: underline wavy #252422c4;
  padding-inline: 5px;
}
.error404 h3 {
  margin: 0;
  font-weight: normal;
}
